#badisTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
div:not(#badisTable){
    display: flex;
    justify-content: center;

    width: 300px;
    height: 160px;
    margin: 10px;

    text-align: center;
    align-items: center;

    background-color: black;
    border-radius: 15px 20% 15px 20%;

    color: white;
}

a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;
    overflow: hidden;
    background-color: black;
    top: 0;

    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

a:not(#badisTable div a ):hover {
    background-color: darkcyan;
}

.badisTable div:hover{
    background-color: darkcyan
}

li {
    border-right: 1px solid white;
    width: 50%;
}

li:last-child {
    border-right: none;
}

body{
    margin: 0px;
}






