body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: url("02_Mythenquai.jpg");
    font-family: "Arial Rounded MT Bold";

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    min-width: 100%;
    min-height: 100%;
}

#badisTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.divBack{
    display: flex;
    justify-content: center;

    width: 350px;
    height: 180px;
    margin: 10px;

    text-align: center;
    align-items: center;

    background-color: black;
    border-radius: 15px 20% 15px 20%;

    color: white;
}

.divBack:hover{
    background-color: darkcyan;
}

a{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;
    overflow: hidden;
    background-color: black;
    top: 0;

    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

a:not(#badisTable div a ):hover {
    background-color: darkcyan;
}

li {
    border-right: 1px solid white;
    width: 50%;
    font-size: 30px;
}

li:last-child {
    border-right: none;
}

.divPage{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    width: 700px;
    height: 700px;
    border-radius: 15px 20% 15px 20%;
    margin: 5%;


}

.divPageFlex{
    display: flex;
    justify-content: center;
}

.divText{
    color: white;
    text-align: center;
    margin: 10%;
    font-size: 150%;

}

.badiClosed{
    background-color: darkred;
}

.badiClosed:hover{
    background-color: indianred;
}

.badiName{
    font-size: 130%;
}
